@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Danfo&family=Signika+Negative:wght@300..700&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Signika Negative", sans-serif;}

h1,h2,h3,h4,h5,h6{
    font-family: "Danfo", serif;
}

.arriba{
    height: 180px;
    background-color: #e0db7dba;
}
.header{
    background-image: linear-gradient(to bottom, #d64525c2, #da602cb5, #dd7738bf,
    #e08f48c8, #e3a15bc0, #e4ad64b4, #e6b86dbd, #e7c478ae, #e6c978b1,
     #e5cf79b3, #e3d57bc7, #e0db7dba); 
    backdrop-filter: blur(15px);
    color: #816d25;
    position: sticky;
    top:0;
    z-index:1000;
    height: 180px;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    h1{
        position: absolute;
        right: 55%;
        top:50%;
    }
    nav{
        width: 50%;
        ul{
            list-style: none;
            display: flex;
            width: 100%;
            justify-content: space-evenly;
            li{
               a{
                color: #816d25;
                text-decoration: none;
                font-size: 1.2rem;
                }
            }
        }
    }
    .logo{
        width: 80px;
        height: 80px;
    }

}
h1{
    color: #816d25;
    font-size: 3rem;
    text-align: center;
}
h2{
    color: #816d25;
    font-size: 2rem;
    text-align: center;
}
p{
    color: #816d25;
    text-decoration: none;
    font-size: 1.2em;
}
a{
    color: #816d25;
    text-decoration: none;
    font-size: 1.2em;
}
.principalIndex{
    background-image: url(../assets/img/imagen_picada_de_fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 20px;
    padding-top: 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    .textoPrincipalIndex{
        margin: 0 auto;
        margin-top: 10px;
        padding: 10px;
        border: 6px solid rgba(247, 196, 100, 0.671);
        border-radius: 5px;
        width: 50%;
        height: 160px;
        backdrop-filter: blur(15px);
        text-align: center;
        p{
            display: inline-block;
            font-size: 1.5rem;
            margin-bottom: 20px;
        }
        a{
            display: inline-block;
            font-size: 1.5rem;
            padding: 6px;
            background-image: linear-gradient(to bottom, #d64525, #da612c,
             #dd7838, #e08e48, #e3a25b, #e4ad64, #e6b86d, #e7c378,
            #e6c978, #e5cf79, #e3d57b, #e0db7d);
            border: 2px solid rgb(227, 192, 127);
            border-radius: 5px;
            box-shadow: 6px 8px 7px 5px rgba(222,153,89,1);
            -webkit-box-shadow: 6px 8px 7px 5px rgba(222,153,89,1); 
            -moz-box-shadow: 6px 8px 7px 5px rgba(222,153,89,1);
        }
    }
}

.productosDestacados{
    margin: 0 auto;
    margin-top: 40px;
    width: 90%;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    img{
        width: 170px;
        border-radius: 5%;
    }
    .tarjetaProductos{
        width: 200px;
        height: 200px;
        text-align: center;
    }
}

.Nosotros{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 20px;
    padding-top: 20px;
    border: 2px solid rgb(244, 149, 42);
    background-color: rgb(250, 230, 194);
    margin-bottom: 20px;
    justify-content: space-around
    
}

.clientesSatisfechos{
    background-image: url(../assets/img/frente_local.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
}
.galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 30px;
    border-radius: 5px;
    margin-bottom: 40px;
    div{
        border-radius: 5px;
        background-color: rgb(246, 224, 180);
        width: 200px;
        height: 200px;
        text-align: center;
        box-shadow: 6px 8px 7px 5px rgba(222,153,89,1);
            -webkit-box-shadow: 6px 8px 7px 5px rgba(222,153,89,1); 
            -moz-box-shadow: 6px 8px 7px 5px rgba(222,153,89,1);
        img{
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            width: 100%;
            height: 50%;
            object-fit: cover;
        }
    }
}

.videoGaleria{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    iframe{
        border-radius: 10px;
    }
}

.footer{
    background-image: linear-gradient(to bottom, #d64525, #da612c, #dd7838,
     #e08e48, #e3a25b, #e4ad64, #e6b86d, #e7c378, #e6c978, #e5cf79,
      #e3d57b, #e0db7d);
    color:#816d25;
    font-size: 10px;
    height: 180px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .h1Footer{
        font-size: 30px;
    }
    ul{
        list-style: none;
        font-size: 10px;
        a{
            color: #816d25;
            text-decoration: none;
            font-size: 1.5em;
        }
    }
    p{
        font-size: 1.5em;
    }
    .navFooter{
        h3{
            font-size:20px
        }
        padding: 10px;
        align-items: center;
        justify-content:space-between;
    }
    .navFooterAyuda{
        h3{
            font-size:20px
        }
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .formularioFooter{
        h3{
            font-size:20px
        }
        padding:10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .logoFooter{
        width: 100px;
        height: 100px;
    }
    .mapa{
        width: 150px;
        height: 150px;
    }
    .redes{
        padding:10px;
        flex-direction: row;
        align-items:center;
        justify-content:center;
        width:25%
    }
    .fa-instagram{
        border-radius: 45%;
        color: rgb(211, 201, 201);
        background-image: linear-gradient(to right top,#405de6, #5851db, #833ab4,
        #c13584, #e1306c, #fd1d1d, #f56040, #f77737, #fcaf45, #ffdc80);
        font-size: 20px;
    }
    .fa-facebook{
        color:#3b5998;
        font-size: 20px;
    }
    .fa-square-whatsapp{
        color: #1cb249;
        font-size: 5em;
        position: fixed;
        bottom: 20px;
        right: 20px;
    }
    .botonArriba{
        font-size: 5em;
        position: fixed;
        bottom: 70px;
        right: 15px;
    }

}

